class Artiv < Formula
  desc "A version control system to manage large files."
  homepage "https://github.com/InfuseAI/ArtiV"
  url "URL"
  sha256 "SHA256"
  license "Apache-2.0"

  def install
    bin.install "art"
  end
end
